<% provide(:title, 'Contact') %>
<h1 class="title">Contact</h1>
<p class="contact">Nelson Hsieh<br/>
   SMAAT Coordinator<br />
	 Students of Mansfield Alumni Assistance and Tuition
</p>

<p class="contact">Mansfield State High School<br />
	 PO Box 229<br />
	 Mt Gravatt Q 4122<br />
	 Ph    3452 5333<br />
	 FAX   3452 5300<br />
	 Email   <a href="mailto:smaatenquiries@outlook.com">smaatenquiries@outlook.com</a><br />
	 Website <a href="http://www.smaat.com.au">www.smaat.com.au</a></p>

<p class="contact">SCHOOL LIAISONS<br />
	 Ms S Moye<br />
	 HOD (Teaching and Learning)<br />
	 Email   <a href="mailto:smoye1@eq.edu.au">smoye1@eq.edu.au</a></p>

<p class="contact">Ms B Clarke<br />
	 Deputy Principal<br />
   Email <a href="mailto:bclar11@eq.edu.au">bclar11@eq.edu.au</a></p>