<% provide(:title, 'Info') %>
<h1>Information</h1>
<h2>WHEN</h2><h3>TUESDAY, WEDNESDAY AND THURSDAY</h3>
<h2>TIME</h2>
<h3>3:10PM - 4:30PM</h3>
<h2>WHERE</h2>
<h3>D BLOCK</h3>
<h2>COST</h2>
<h3>$25 per session</h3>
<h3>Payment is made for ALL sessions of the remaining term in either INSTALLMENTS or IN FULL </h3>
<h2>PAYMENT<h2>
<h3>An invoice will be sent to the parent's email address. All payment is made to the lower office.</h3>






