<% provide(:title, 'Why SMAAT?') %>
<h1 class="title">Why SMAAT?</h1>
<h4 class="heading">What is SMAAT?</h4>
<p class="p-why">
	SMAAT (Students of Mansfield Alumni Assistance and Tuition), as the name suggests, is an assistance and tuition program in which students can seek academic aid as well as insight into completing assessment and exam preparation. SMAAT aims to provide affordable, high quality tutors to the student population of Mansfield State High School. The tutors have completed and experienced the Mansfield curriculum and have achieved well academically and socially whilst at Mansfield. In short, successful past students choose to tutor present students. 
</p>
<hr class="divider">
<h4 class="heading">Aims of SMAAT</h4>
<div class="why">
  <ul>
    <li>Provide an assistance and tuition program accessible to all students of Mansfield State High School</li>
    <li>Provide high calibre tutors (past students of Mansfield State High School) who have achieved well academically and socially and are passionate about seeing the present students of Mansfield State High School succeed academically </li>
    <li>Provide an affordable service for students and parents/guardians</li>
    <li>Provide a fun, energetic and interactive environment that encourages learning and the fruition of high academic achievement</li>
    <li>	Provide a safe environment that assures parents/guardians that their children are under constant supervision by tutors and the staff of Mansfield State High School. </li>
  </ul>
</div>
<hr class="divider">
<h4 class="heading">Roles and Expectations</h4>
<h5 class="heading2">Roles of the student</h5>
<div class="why">
  <ul>
    <li>Be prepared to ask questions and complete all work set by the teachers and tutors to the best of their ability</li>
    <li>Be attentive and focused on work and work set by the teachers and tutors</li>
    <li>Be respectful of all staff and tutors</li>
    <li>Be motivated to complete work diligently</li>
    <li>Be a worthy representative of Mansfield State High School and demonstrate the expectations required by the school</li>
  	<li>Punctually attend all sessions agreed upon by the parent/guardian and the tutoring program.</li>
  </ul>
</div>
<h5 class="heading2">Roles of the parent</h5>
<div class="why">
  <ul>
    <li>Encourage students and foster a positive environment at home that helps to progress the work completed in the tutoring sessions.</li>
    <li>Communicate with the student about their tutoring sessions.</li>
    <li>Encourage the child to seek assistance if experiencing academic difficulties.</li>
    <li>Be respectful of, and receptive to, the advice and counsel of all staff and tutors. </li>
    <li>Communicate to the SMAAT COORDINATOR any required attendance changes (eg. Sickness, holidays etc..) </li>
    <li>Pay invoices on time.</li>
  </ul>
</div>