<p>Dear <%= @resource.parent_name %>,</p>

<p>Please find attached 3 forms, one which outlines the enrolled sessions your student will be enrolled for and the second is an agreement that outlines the roles and responsibilities that you will play in your student’s academic success. The third is a payment detail form and all payment is to be made to the lower office. Your sessions will be $20 a session.</p>

<p>It is important that I stress that the time the tutors have with your student is minimal compared to the time in which they spend at home and as such the agreement encourages you the parent/guardian to continue the work we do with your student.</p>

<p>Please bring the agreement signed to the first session.<br /> 
	 Please let me know if you have any further questions. </p>

<p>Kind regards</p>

<p>Nelson Hsieh<br/>
   SMAAT Coordinator<br />
	 Students of Mansfield Alumni Assistance and Tuition
</p>

<p>Mansfield State High School<br />
	 PO Box 229<br />
	 Mt Gravatt Q 4122<br />
	 Ph    3452 5333<br />
	 FAX   3452 5300<br />
	 Email   <a href="mailto:smaatenquiries@outlook.com">smaatenquiries@outlook.com</a><br />
	 Website <a href="http://www.smaat.com.au">www.smaat.com.au</a></p>

<p>SCHOOL LIAISONS<br />
	 Ms S Moye<br />
	 HOD (Teaching and Learning)<br />
	 Email   <a href="mailto:smoye1@eq.edu.au">smoye1@eq.edu.au</a></p>

<p>Ms B Clarke<br />
	 Deputy Principal<br />
   Email <a href="mailto:bclar11@eq.edu.au">bclar11@eq.edu.au</a></p>
