<p>Dear <%= @user.parent_name %>,</p>

<p>Thank you for enrolling in the SMAAT program. This email is confirmation of your registration and contains important information.</p>

<p>Please find attached 4 forms, two of which outline the sessions your student will be enrolled for and the second is an agreement that outlines the roles and responsibilities that you will play in your student’s academic success. The third is a payment detail form. Your sessions will be $20 a session. Please be advised that sessions must be paid at the lower office before students attend. Payment must be made in full for the remaining weeks in the term.</p>

<p><b>Please refer to the document titled "term3_notice_2014.pdf" as to the next available session. It will be expected as a result of your registration, your student will attend THE NEXT AVAILABLE SESSION. If there are any problems with this, please email the SMAAT coordinator (at <a href="mailto:smaatenquiries@outlook.com">smaatenquiries@outlook.com</a>).</b></p>

<p>To ensure that we are able to communicate with you effectively, please change your email settings to allow the SMAAT emails to be sent straight to your inbox. </p>

<p>It is important that I stress that the time the tutors have with your student is minimal compared to the time in which they spend at home and as such the agreement encourages you the parent/guardian to continue the work we do with your student.</p>

<p>Please bring the agreement signed to the first session.<br /> 
	 Please let me know if you have any further questions. </p>

<p>Kind regards</p>

<p>Nelson Hsieh<br/>
   SMAAT Coordinator<br />
	 Students of Mansfield Alumni Assistance and Tuition
</p>

<p>Mansfield State High School<br />
	 PO Box 229<br />
	 Mt Gravatt Q 4122<br />
	 Ph    3452 5333<br />
	 FAX   3452 5300<br />
	 Email   <a href="mailto:smaatenquiries@outlook.com">smaatenquiries@outlook.com</a><br />
	 Website <a href="http://www.smaat.com.au">www.smaat.com.au</a></p>

<p>SCHOOL LIAISONS<br />
	 Ms S Moye<br />
	 HOD (Teaching and Learning)<br />
	 Email   <a href="mailto:smoye1@eq.edu.au">smoye1@eq.edu.au</a></p>

<p>Ms B Clarke<br />
	 Deputy Principal<br />
   Email <a href="mailto:bclar11@eq.edu.au">bclar11@eq.edu.au</a></p>
