<p>Dear <%= @resource.parent_name %>,</p>

Thank you for enrolling in the SMAAT program. 

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>Upon confirmation, further information will be emailed to you with regard to payment, a brief outline of the responsibility and role of the tutor will have and the expectations of your child so that time in these sessions will be used effectively and productively.</p>

<p>Please be advised that sessions must be paid before students attend. Payment must be made in full for the remaining weeks in the term.</p>

<p>The tutors look forward to aiding your student any way we can.</p>

<p>Please do not hesitate to consult <a href="http://www.smaat.com.au">www.smaat.com.au</a> for further information or contact me at <a href="mailto:smaatenquiries@outlook.com">smaatenquiries@outlook.com</a> if there are any problems.</p>

<p>Kind regards</p>


<p>Nelson Hsieh<br/>
   SMAAT Coordinator<br />
	 Students of Mansfield Alumni Assistance and Tuition
</p>

<p>Mansfield State High School<br />
	 PO Box 229<br />
	 Mt Gravatt Q 4122<br />
	 Ph    3452 5333<br />
	 FAX   3452 5300<br />
	 Email   <a href="mailto:smaatenquiries@outlook.com">smaatenquiries@outlook.com</a><br />
	 Website <a href="http://www.smaat.com.au">www.smaat.com.au</a></p>

<p>SCHOOL LIAISONS<br />
	 Ms S Moye<br />
	 HOD (Teaching and Learning)<br />
	 Email   <a href="mailto:smoye1@eq.edu.au">smoye1@eq.edu.au</a></p>

<p>Ms B Clarke<br />
	 Deputy Principal<br />
   Email <a href="mailto:bclar11@eq.edu.au">bclar11@eq.edu.au</a></p>

